[
    {
        "Author": "Asgard, Minmoose and Contributors",
        "Name": "Brio",
        "Punchline": "增强集体动作体验。",
        "Description": "在集体动作模式中控制参与的角色。",
        "InternalName": "Brio",
        "AssemblyVersion": "{version}",
        "TestingAssemblyVersion": "{version}",
        "RepoUrl": "https://github.com/Etheirys/Brio",
        "ApplicableVersion": "any",
        "DalamudApiLevel": 10,
        "DownloadLinkInstall": "https://meowrs.com/https://github.com/MeowZWR/Brio/releases/download/global{version}/Brio.zip",
        "DownloadLinkTesting": "https://meowrs.com/https://github.com/MeowZWR/Brio/releases/download/global{version}/Brio.zip",
        "DownloadLinkUpdate": "https://meowrs.com/https://github.com/MeowZWR/Brio/releases/download/global{version}/Brio.zip",
        "IconUrl": "https://meowrs.com/https://raw.githubusercontent.com/MeowZWR/Brio/main/Resources/Images/BrioIcon.png",
        "Tags": [ 
            "gpose",
            "brio",
            "posing",
            "animation"
        ]
    }
]
